# Data Science Homework 1
# Code Review

The following code is a revision as set out by homework 1. 
It reviews basic data types, lists, dictionaries, conditionals and numeric operations.

In [6]:
# Basic Data Types #
x = 5
type(5)
type(5.0)
type('five')
type(True)
5 / 2
5 / 2.0

2.5

In [33]:
# Lists
nums = [5, 5.0, 'five']
nums
type(nums)
len (nums)
nums [0]
nums [-1]
nums [2] = 6
nums.append(7) #adds 7 to the end of the list
nums.remove(5) #removes 5 from the list and shifts everything down an index
nums.append(5)
nums.append("apple")
nums.remove("apple")
sorted(nums)
nums
sorted(nums, reverse=True) #sorts in descending order
sum(nums) # gives the sum of the items within the list
"""
note that list methods are a part of lists, like append and remove
but sorted is a built in python method that TAKES IN a list
"""

'\nnote that list methods are a part of lists, like append and remove\nbut sorted is a built in python method that TAKES IN a list\n'

In [35]:
# use a lopp to "iterate" over this list
days_of_the_week = ['Monday', "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

In [37]:
# list slicing
weekdays = days_of_the_week[0:5] #start from Index 0(first) until Index 5 (not inclusive)

In [38]:
weekdays

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [39]:
days_of_the_week[5:]

['Saturday', 'Sunday']

In [40]:
days_of_the_week[:5]

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [42]:
days_of_the_week[0:7:3] #the third element means every second element

['Monday', 'Thursday', 'Sunday']

In [44]:
#### Tuples ####
"""
Tuples are basically lists that can never be changed. You can think of them as light weight lists.
Lists can grow and shrink via append, insert and remove.
Sometimes we don't want our lists to be changed. Thats' what tuples are form.
If you try to append or remove elements in a tuple, you will get an Traceback error.

Technicall, lists are mutable objects and tuples are immutable objects.
utable objects can change (think of mutations), and immutable objects can not change.
"""

#range
range(10)

range(0, 10)

In [51]:
#### CONDITIONALS ####
# we will use an if else to implement logic
x = 25000
if x > 10:
    print ("x is more than 10 !")
    print ("hooray")
elif x > 100:
    print ("x is HUGE")

#as soon as one conditional is satisfied, it stops checking!

x is more than 10 !
hooray

In [55]:
temperature = 20
if temperature <=32:
    print ("water is ice")
elif temperature > 32 and temperature < 212:
    print ("water is liquid")
else: 
    print ("water will boil")
    #implicitly means if temperature >=212

water is ice

In [59]:
### Dictionaires ###
"""
have a key value structure,
like a dictionary! :)
dictionary = {
    key1: value1,
    key2: value2,
    ....
}
"""
sinan = {
    "age" : 23,
    "location": "Baltimore",
    "gender": "Male",
    "occupation": "Professor/Entrepreneur"
}
sinan['age']

23

In [60]:
sinan['location']

'Baltimore'

In [63]:
deniz = {
    "age" : 29,
    "location": "Washington DC",
    "gender": "Female",
    "occupation": "Security Analyst"
}

people = [sinan, deniz] #is a list of dictionaries

In [64]:
people[0] # the dictionary that represents sinan

{'age': 23,
 'gender': 'Male',
 'location': 'Baltimore',
 'occupation': 'Professor/Entrepreneur'}

In [65]:
people[0]['age']

23

In [71]:
"""
for loops are a way of 'iterating' over an item, like a list!
but also dictionaries!"""
# iterating over a list
for day in days_of_the_week: #the "day" variable can really be called anything
    print ("the day is " + day)

the day is Monday
the day is Tuesday
the day is Wednesday
the day is Thursday
the day is Friday
the day is Saturday
the day is Sunday

In [74]:
for person in people:
    print (type(person))

<class 'dict'>
<class 'dict'>

In [81]:
print  (str(deniz ['age']) + " and lives in "+ person['location'])

29 and lives in Washington DC

In [82]:
sinan.items() #produces a list

dict_items([('age', 23), ('location', 'Baltimore'), ('gender', 'Male'), ('occupation', 'Professor/Entrepreneur')])

In [86]:
for elememnt in sinan.items():
    print (element[0])

NameError: name 'element' is not defined

In [88]:
for first, second in sinan.items():
    print (second) #prints the second item in each key/value relationship

23
Baltimore
Male
Professor/Entrepreneur

In [89]:
# Let's filter out some days based on an if!
for day in days_of_the_week:
    if len(day) <=6:
        print (day)

Monday
Friday
Sunday

In [90]:
### LIST COMPREHENSIONS ###
import math

In [91]:
flubber = [2, 5, 7, 4, 2, 5]

In [92]:
len(flubber)

6

In [94]:
[n**2 for n in flubber] #squares each value in the list

[4, 25, 49, 16, 4, 25]

In [98]:
[q / 2.0 for q in flubber] #halves each value

[1.0, 2.5, 3.5, 2.0, 1.0, 2.5]

In [99]:
[math.sqrt(r) for r in flubber]

[1.4142135623730951,
 2.23606797749979,
 2.6457513110645907,
 2.0,
 1.4142135623730951,
 2.23606797749979]

In [100]:
"""
note that I used a different variable name for each one because
it doesn't matter!
"""

"\nnote that I used a different variable name for each one because\nit doesn't matter!\n"

In [101]:
#### FUNCTIONS ####
def give_me_five(): #function defintion ends with colon
    print ("I'm going to give you five")
    return 5 #indentation required for function body
print ("gave you five")
give_me_five() # prints the return value

gave you five
I'm going to give you five

5

In [102]:
a_new_variable = give_me_five() #assigns the return value to a variable, doesn't print it

I'm going to give you five

In [105]:
def calc(x=1, y=2, op = "add"): #three arguments (without any defaults)
    if op == 'add':
        return x + y
    elif op == 'subtract':
        return x - y
    elif op == 'multiply':
        return x * y
    else: 
        print ('valid operations: add, subtract, multiply')

In [106]:
calc (5, 3, 'add')

8

In [107]:
calc (5, 3, 'subtract')

2

In [108]:
calc (5, 3, 'multiply')

15

In [109]:
calc ([1,2], [3,4], 'add')

[1, 2, 3, 4]

In [110]:
calc() #defaults everything, x=1 y=2 op='add'

3

In [111]:
point_1 = (1, 2, 2) #tuples have paranteses as opposed to square brackets
point_2 = (3, 4, 5)

In [112]:
pairs = zip(point_1, point_2)

In [119]:
print (point_1)

(1, 2, 2)

In [120]:
point_1.appened(7)

AttributeError: 'tuple' object has no attribute 'appened'

In [121]:
zip?

In [122]:
print (x)

(2, 5)

In [123]:
print (x[0])

2

In [124]:
print (x[1])

5

In [125]:
[x[0] for x in pairs]

[]